<h1>Register</h1>



<%= form_for @user do |user| %>
<% if @user.errors.any? %>
<div class="errors">
<ul>
 <% @user.errors.full_messages.each do |error| %>
 <li><%= error %></li>
 <% end %>
</ul>
</div>
<% end %>
	<div>
		<%= user.label(:name, "Name") %>
		<%= user.text_field :name %>
	</div>
	<div>
		<%= user.label(:password, "Password") %>
		<%= user.password_field :password %>
	</div>
	<div>
		<%= user.label(:password_confirmation, "Confirm password") %>
		<%= user.password_field :password_confirmation %>
	</div>
	<div>
		<%= submit_tag "Sign up" %>
	</div>
<% end %>
