<h1>Register</h1>


<div class="register">
	<%= form_for @user do |user| %>
	<% if @user.errors.any? %>
	<div class="errors">
	<ul>
	 <% @user.errors.full_messages.each do |error| %>
	 <li><%= error %></li>
	 <% end %>
	</ul>
	</div>
	<% end %>
		<div>
			<%= user.text_field :name, placeholder: "Name"%>
		</div>
		<div>
			<%= user.password_field :password, placeholder: "Password" %>
		</div>
		<div>
			<%= user.password_field :password_confirmation, placeholder: "Confirm password" %>
		</div>
		<div>
			<%= submit_tag "Sign up", class: "button" %>
		</div>
			<p>Already have a login? Log in <a href="">here</a></p>
	<% end %>
</div>


